body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}
.slide:hover { will-change: transform;}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  overflow: hidden;
 }

.slide li.active {
  opacity: 1;
  transform: scale(1);
}